body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input {
    margin: 5px;
    padding: 8px;
    width: 80%;
}

button {
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

